body{
    background-image: url('https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
}
.keys{
    display:flex;
    min-height:100vh;
    align-items:center;
    justify-content:center;
    /* background-image:linear-gradient(pink, purple); */
}
.key{
    border:4px solid rgb(141, 140, 140,0.6);
    border-radius:5px;
    box-shadow:5px 5px solid gray;
    margin:1rem;
    font-size:1.5rem;
    padding: 1rem .5rem;
    transition:all 0.09s;
    width:100px;
    text-align:center;
    color:white;
    background-image:linear-gradient(pink, purple);
    /* background:rgba(180, 176, 176, 0.4); */
    text-shadow:0 0 5px black;
}

.playing{
    transform:scale(1.1);
    border-color: rgb(197, 40, 197,0.1);
    box-shadow:0 0 10px rgb(218, 33, 193,0.4);
}
kbd{
    display:block;
    font-size:40px;
}
.sound{
    font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing:1px;
    color:yellow;
    
}